
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --amarelo--principal: #ffbd03;
  --vermelho--efeito: rgb(248, 54, 29);
}



body {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 2em;
}

